@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

body {
    background-color: #151226;
    font-family: 'Roboto', sans-serif;;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

h1 {
    font-size: 48px;
}

a {
    margin-inline: 10px;
    font-size: 20px;
}

a:hover {
    color: #8F00A7;
}

#botao-destacado {
    padding: 6px;
    border: 3px #8F00A7 solid;
    border-radius: 6px;
}

#botao-destacado:hover {
    background-color: #8F00A7;
    color: white;
    border: 3px white solid;
}

main {
    display: flex;
    align-items: center;
    padding: 1.8em;
    padding-inline: 128px;
    border-top: 2px rgba(39, 242, 222, 0.3) solid;
}

#conteudo-site {
    text-align: justify;
    padding: 48px;
}

#titulo-conteudo {
    color: #FCF300;
    line-height: 1em;
    font-size: 46px;
}

#subtitulo-conteudo {
    color: rgba(255, 198, 0, 0.7);
    font-weight: 300;
    font-size: 16px;
}

#texto-conteudo {
    padding-top: 1em;
}
